[submodule "sources/omz/plugins/fzf-tab"]
	path = sources/omz/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab.git
[submodule "sources/omz/themes/headline"]
	path = sources/omz/themes/headline
	url = https://github.com/Moarram/headline.git
[submodule "sources/omz/plugins/flatpak"]
	path = sources/omz/plugins/flatpak
	url = https://github.com/bilelmoussaoui/flatpak-zsh-completion.git
