* {
    border: none;
    border-radius: 0;
    font-family: "Monstserrat", sans-serif;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

tooltip {
  background: #243035;
  border-radius: 8px;
}

tooltip label {
  color: white;
}

.module {
    padding: 8px 16px;
}

#window, #custom-playerctl {
    padding: 8px 0px;
    background: transparent;
}

#workspaces {
    background: #1C2427;
    border-radius: 8px;
    padding: 0;
}

#workspaces button {
    border-radius: 8px;
    border: 0;
    padding: 0 16px;
    background: transparent;
    color: rgb(165, 165, 165);
}

#workspaces button.active {
    background: #243035;
    color: #00BCD4;
}

.modules-right .module {
    background: #1C2427;
    color: white;
    border-radius: 8px;
}

#battery.critical:not(.charging) {
    background: #640000;
    color: white;
}

#battery.warning:not(.charging) {
    background: #645700;
    color: white;
}

#networking:hover #network,
#system:hover #battery, 
#power:hover #clock {
    border-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.drawer .horizontal {
    background: #243035;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.drawer .module {
    background: transparent;
}