* {
  border: none;
  border-radius: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: #dbdbdb;
}

tooltip {
  background: transparent;
}

tooltip label {
  background: #171e21;
  border: 2px solid #2c434f;
  border-radius: 8px;
  color: #dbdbdb;
  padding: 8px 16px;
}

.module {
  padding: 8px 16px;
}

#window,
#custom-playerctl {
  padding: 8px 0px;
  background: transparent;
  border: none;
  color: #fcfcfc
}

#workspaces {
  background: #171e21;
  border-radius: 8px;
  border: 2px solid #2c434f;
  padding: 2px;
}

#workspaces button {
  border-radius: 4px;
  border: 0;
  padding: 2px 16px 0px 16px;
  background: transparent;
  color: #bababa;
}

#workspaces button:not(:first-child) {
  margin-left: 2px;
}

#workspaces button:hover {
  background: #232d32;
}

#workspaces button.active {
  background: #2c434f;
  color: #fcfcfc;
}

#battery.critical:not(.charging) {
  color: #920000;
}

#battery.warning:not(.charging) {
  color: #a57800;
}

#networking:hover,
#system:hover,
#power:hover {
  color: #fcfcfc
}

#networking .drawer .module {
  color: #fcfcfc;
}

#networking .drawer .module.disconnected {
  color: #bababa;
}

#networking .drawer .module.no-controller {
  color: #ed7665;
}

#clock {
  font-family: monospace;
}

#power,
#networking,
#system,
#tray,
#pulseaudio {
  background: #171e21;
  color: #dbdbdb;
  border: 2px solid #2c434f;
  border-radius: 8px;
}

#power,
#networking,
#system {
  padding: 2px;
}

#power:hover #clock,
#networking:hover #network.global,
#system:hover #battery {
  background: #2c434f;
  border-radius: 4px;
}

.drawer .horizontal {
  background: #171e21;
}

.drawer .horizontal .module {
  margin-right: 2px;
}

.drawer .horizontal .module {
  background: #1f282c;
  border-radius: 4px;
  border: none;
  background: transparent;
}

.drawer .text-button:hover, #network.vpn:hover, #pulseaudio:hover {
  color: #fcfcfc;
  background: #232d32;
}